body {
  background-color: white;
  font-family: sans-serif;
}

nav {
  background-color: #000;
  color: #fff;
  width: 30%;
  text-align: center;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  padding-top: 1em;
}

div>img {
  width: 80%;
  margin: 0 auto;
}

ul {
  justify-content: space-around;
  padding: 0;
}

li {
  list-style: none;
  margin: 2em;
  display: block;
  text-align: left;
}