body {
    font-family: Barriecito, sans-serif;
}

header, ul, ol {
    text-align: center;
}

ul, ol {
    list-style: none;
}

.fancy-header {
    color: purple;
}

img {
    width: 600px;
}

img:nth-child(2), img:nth-child(4) {
    float: right;
    display: inline-block;
}

/* comment */

