/* Declare variables */
:root {
  --git-coral: #CF4645;
}

/* Borders */

.wborder {
  border: 1px solid #fff;
  z-index: 999;
}

.bborder {
  border: 1px solid #000;
  z-index: 999;
}

.coralWarning {
  background-color: #F9F2F4;
  color: #C7244E;
  display: inline-block;
}

 /* Basic layout elements */

main, html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a:link, a:visited, a:active, a:hover {
  color: #B8C2CC;
}

a:link, a:visited, a:active, a:hover .coral {
  color: #C7244E;
}

a:hover .coral {
  color: pink;
}

h2 {
  font-size: 1.5em;
  letter-spacing: .4px;
  line-height: 1.6;
  text-align: center;
}

p {
  color: #424D56;
  letter-spacing: .4px;
  line-height: 1.6;
}

.container {
  width: 750px;
  margin: 0 auto 0 auto;
}

 /* Login Button (within Nav) */

nav {
  background-color: var(--git-coral);
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.loginBtn {
  padding: 1em;
  color: #fff;
  border: 1px solid #fff;
  width: 2.4em;
  border-radius: 10%;
  cursor: pointer;
  right: 0;
  margin: .8em;
  float: right;
}

.loginBtn:hover {
  color: var(--git-coral);
  background-color: #fff;
}

/* Jumbotron */ 

.jumbotron {
  width: 100%;
  height: 251px;
  background-color: var(--git-coral);
  top: 20em;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  z-index: 10;
}

.jumbotron h3 {
  color: #fff;
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.jumbotron h3, pre {
  display: inline-block;
}

.gitLogo {
  margin: 0 auto 0 auto;
}

.jumbotron img {
  width: 50%;
  margin: auto;
  z-index: 10;
  margin-bottom: 5px;
}

 /* Call to action */

 .cta {
   text-align: center;
   font-size: .8em;
 }

 .cta span {
   font-weight: bold;
 }

/* description */

.description {
  margin-top: 50px;
  margin-bottom: 50px;
}

.description pre {
  display: inline-block;
}

/* Intro Video */

.introHeader {
  text-align: center;
}

.embed-responsive-item {
  position: relative;
  width: 752px;
  height: auto;
  margin: 0 auto 0 auto;
}

/* Course Coverage */

.courseCoverage h3 {
  text-align: center;
}

.row {
  margin: 0 auto 2em auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  width: 33%;
  padding: .07em;
}

/* Get getting Git */

.getGitting {
  background-color: #606F7B;
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 100px;
}

.ggHeader {
  color: #fff;
}

.ggSubHeader {
  color: #B8C2CC;
  padding-bottom: 50px;
}

.ggHeader, .ggSubHeader {
  text-align: center;
}

/* Tier boxes */

.tierBoxes {
  margin: 0 auto 3em;
  color: #3D4852;
  padding-bottom: 1em;
  display: inline-block;
  vertical-align: top;
  margin: 0 1em 0 0;
}

.tier-box {
  width: 250px;
  margin: 0 auto;
  background-color: #F1F5F8;
  border-radius: 5px;
  z-index: 10;
  text-align: center;
}

.tier-center {
  text-align: center;
}

h3.tierHeader {
  text-align: center;
  margin: auto;
  padding: 15px;
  z-index: 5;
}

.tier-bottomBox {
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 2em;
}

.tier-box i {
  font-size: 3em;
  padding: .5em;
}

.tier-box ul {
  padding: 0 2em;
  margin-bottom: 3em;
}

.tier-box li {
  margin: .3em;
  text-align: left;
}

.tierBtn, .tierBtn-red {
  background-color: #8695A0;
  color: #fff;
  border-radius: 5px;
  padding: .5em;
  width: 60%;
  margin: 0 auto;
  cursor: pointer;
}

.tierBtn:hover {
  background-color: #dae1e7;
}

.tierBtn p {
  color: #fff;
}

.tierBtn-red {
  background-color: #cc1f1a;
}

.tierBtn-red p {
  color: #fff;
}

.tierBtn-red:hover {
  background-color: pink;
}

